/* setting the variables names */

:root {
	--blue: #dbb162;
	--dark: #000000;
	--light: #010202;
}

/* declaring the fonts*/
@font-face {
	font-family: "F1";
	src: url("/fonts/PragmaticaExtendedBold.otf") format("truetype");
}

@font-face {
	font-family: "F2";
	src: url("/fonts/Pragmatica.ttf") format("truetype");
}

/* assigning the choosen fonts to the elemnents of the pages */
h1,
h2,
h3,
h4,
h5,
h6,
li,
ul {
	font-family: "F1", sans-serif;
}
p,
a,
button,
label,
input,
select,
textarea {
	font-family: "F2", sans-serif;
}

html {
	background-color: var(--dark);
}
.header {
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: var(--blue);
	font-size: 50px;
	padding: 30px;
	text-align: center;
}

.first-project,
.third-project {
	background-color: rgba(0, 0, 0, 0.3);
	display: grid;
	grid-template-columns: 2fr 1fr;
	padding: 0;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.second-project {
	background-color: rgba(0, 0, 0, 0.3);
	display: grid;
	grid-template-columns: 1fr 2fr;
	padding: 0;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.column-1 {
	background-color: transparent;
}
.column-2 {
	background-color: transparent;
}
.brand-img-1,
.brand-img-3 {
	width: 100%;
	height: 100%;
	filter: grayscale(100%);
	overflow: hidden;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
}
.brand-img-1:hover,
.brand-img-3:hover {
	filter: grayscale(30%);
	image-rendering: optimizeQuality;
}
.brand-img-2 {
	width: 100%;
	height: 100%;
	filter: grayscale(100%);
	overflow: hidden;
	clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
}
.brand-img-2:hover {
	filter: grayscale(30%);
	image-rendering: optimizeQuality;
}
.brand-name {
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: var(--blue);
	font-size: 40px;
	text-align: center;
	padding-top: 20px;
}
.brand-work {
	color: rgb(193, 192, 192);
	padding-right: 60px;
	padding-left: 60px;
	font-family: "F2";
	font-size: 14px;
	line-height: 19px;
}

.CTA-header {
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: var(--blue);
	font-size: 40px;
	text-align: center;
	padding-bottom: 5px;
	padding-top: 5px;
}
.cta-button {
	background-color: var(--blue);
	color: black;
	border: 3px solid var(--blue);
	padding: 13px 39px;
	font-weight: bolder;
	cursor: pointer;
	font-size: 16px;
	font-family: "F1";
	margin-top: 28px;
}

.cta-button:hover {
	background-color: transparent;
	border: 3px solid var(--blue);
	color: var(--blue);
}
.cta-button-2 {
	background-color: transparent;
	border: 3px solid var(--blue);
	color: var(--blue);
	padding: 13px 39px;
	font-weight: bolder;
	cursor: pointer;
	font-size: 16px;
	font-family: "F1";
	margin-top: 28px;
}
.cta-button-2:hover {
	background-color: var(--blue);
	color: black;
	border: 3px solid var(--blue);
}
.cta-container {
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.buttons-container {
	display: flexbox;
	flex-direction: column;
}
#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: solid 1px var(--blue-background);
	outline: none;
	background-color: var(--blue);
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 10px;
}

#myBtn:hover {
	background-color: transparent;
	border: 1px solid var(--blue);
}
